<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chart2</key>
	<dict>
		<key>showDateBuffer</key>
		<string>10</string>
		<key>showDataYMax</key>
		<string>55</string>
		<key>showDataYMin</key>
		<string>22</string>
		<key>isAutoCheckX</key>
		<true/>
		<key>isAutoCheckY</key>
		<true/>
	</dict>
	<key>Chart1</key>
	<dict>
		<key>showDateBuffer</key>
		<string>100</string>
		<key>showDataYMax</key>
		<string>20</string>
		<key>showDataYMin</key>
		<string>10</string>
		<key>isAutoCheckX</key>
		<true/>
		<key>isAutoCheckY</key>
		<true/>
	</dict>
</dict>
</plist>
